# REDSHIFT - OUR CODE ONLY

# Ignore everything
*

# Allow Git to traverse folders
!*/

# Only track our scripts folder
!Assets/Scripts/
!Assets/Scripts/**/
!Assets/Editor/**/

# Track C# scripts inside our scripts folder
!Assets/Scripts/**/*.cs
!Assets/Editor/**/*.cs
# Keep Git configuration
!.gitignore
!.gitattributes
